@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-white;
}

/* Global styles including custom styles for dropdown items */
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:visited {
  background-color: #3a7ca5 !important; /* Ensure no background on click */
}

.carousel-item * {
  pointer-events: auto;
}

.quote-carousel-item .carousel-item {
  transition: opacity 1s ease-in-out;
}

.quote-carousel-item .carousel-item.hidden {
  opacity: 0;
}
